{% extends 'realty/base.html' %}

{% block content %}
<h1>Вход в систему</h1>
<form method="post">
    {% csrf_token %}
    <div class="form-group">
        <label for="id_username">Логин:</label>
        <input type="text" name="username" id="id_username" class="form-control" required>
    </div>
    <div class="form-group">
        <label for="id_password">Пароль:</label>
        <input type="password" name="password" id="id_password" class="form-control" required>
    </div>
    <button type="submit" class="btn">Войти</button>
</form>
<p>Нет аккаунта? <a href="{% url 'register' %}">Зарегистрируйтесь</a></p>
{% endblock %}